!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- header section start -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-3">
					<%= image_tag 'synnple.png', :class => 'logo', :height => '40px', :width => '40px'%>
					<div class="logo">
						<h2 class="site-logo">Synnple Visuals</h2>
					</div>
				</div>
				<div class="col-lg-8 col-md-9">
					<a href="" class="site-btn header-btn">Get in touch</a>
					<nav class="main-menu">
						<ul>
							<li><a href="home.html">Home</a></li>
							<li><a href="about.html">About</a></li>
							<li><%= link_to 'Work', new_picture_path %></li>
							<li><%= link_to 'Contact', messages_path %></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="nav-switch">
			<a href="mobile.html"><i class="fa fa-bars"></i></a>
		</div>
	</header>
	<!-- header section end -->

	<!-- intro section start -->
	<section class="intro-section">
	<!--
		<div class="jumbotron">
			<%= image_tag 'synnple.png', :height => '105x', :width => '105x' %>
		</div>
	-->	