 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, Synnple Visuals</h1>
    <p><%=@body%></p>
    <p>from <%=@name%>,</p>
    <p> <%=@email%></p>
    <p>Phone number: <%=@number%></p>
  </body>
</html>